@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Portfolio!</h1>
    <p>This is the main page. On this page I will be posting projects that I work on as well as links to the repos on Github. </p>
    <p>Currently I don't have anything to show but I hope to begin adding stuff very soon!</p>
    <p>In the mean time, I have provided a linked screen shot of my github so you can click it and see some of the items I've worked on.</p>
    <p>Enjoy!</p>
    <a href="https://github.com/francisco6541"><img class="img-center" src="~/lib/Images/Github_Screenshot.png" alt="ScreenShot of my Github" /></a>
</div>
