@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Portfolio!</h1>
    <p>
        This is the main page. On this page I will be posting projects that I work on as well as links to their respective repos on Github. <br />
        I haven't gotten around to adding any of my projects just yet but I hope to begin adding stuff very soon! <br />
        In the mean time, feel free to click on my Social dropdown menu to visit my Github where all my projects are currently at or my Linkedin to learn more about my background. <br />
        I have also set up an About me page with my picture and a short description of my tech experience. Please check it out if you have time! <br />
        Thank you for taking the time to visit my portfolio and I hope you come back as I hope to add stuff soon!
    </p>
    <img class="img-center" src="~/lib/Images/microsoft_office_icons_06.png" alt="Custom Azure Cloud Image" />
</div>
