@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <img style="padding: 3% 5%;" src="https://media-exp1.licdn.com/dms/image/C5603AQHhnFqAUKoZnQ/profile-displayphoto-shrink_200_200/0/1593722966393?e=1646265600&v=beta&t=3MfGGFF3U3E-yt0aD6_VzTU6A7vR6j-HIjBSzVMCM4c" alt="Picture of Francisco" />
    <p>
        Hello! My name is Francisco Velazquez and I'm currently an Azure Cloud Engineer working towards becoming a Software Engineer. <br />
        I'm a tech enthusiast and Marine Corps Vet with a passion for technology and learning new things. My background includes <br />
        6 months in the Microsoft Software and Systems Academy (MSSA) learning the fundamentals of software engineering and 1 year in <br />
        my current role as a cloud engineer. While in the MSSA I learned how to query relational databases using T-SQL and how to <br />
        create applications ranging from console based to web based. For the web applications I used ASP.NET MVC Core with C# on the backend <br />
        and HTML/CSS on the front end. In my current role, I'm using the same skills that I learned in the MSSA to write PowerShell scripts,<br />
        ARM Templets using TerraForm, and Azure Policies using Json. I've also gained experience working on and configuring <br />
        Red Hat Enterprise Linux VMs and working with Active Directory on Windows Server 2019 and Windows 10 Enterprise VMs. <br />
        I will also be attending Western Governors University in February pursuing a Bachelor of Science in Software Development. <br />
        If you would like to learn more about me or my background, feel free to email me at francisco.velazquez2@outlook.com. <br />
        Thank you for taking the time to visit my portfolio and reading about me! Have a great day!
    </p>
</div>